.vscode/settings.json
__pycache__/calculator.cpython-37.pyc
__pycache__/config.cpython-37.pyc
__pycache__/inventory.cpython-37.pyc
__pycache__/logger.cpython-37.pyc
__pycache__/recipes.cpython-37.pyc
__pycache__/moves.cpython-37.pyc
calculateRecipeOrder.log
calculator.pyc
config.pyc
inventory.pyc
moves.pyc
logger.pyc
recipes.pyc
__pycache__/Dropbox.cpython-37.pyc
.vscode/launch.json
__pycache__/recipes.cpython-38.pyc
__pycache__/moves.cpython-38.pyc
__pycache__/logger.cpython-38.pyc
__pycache__/inventory.cpython-38.pyc
__pycache__/config.cpython-38.pyc
__pycache__/calculator.cpython-38.pyc
config.txt
